# YAML config

toggl:
    api_token: # API token can be found in toggl profile https://toggl.com/app/profile

redmine:
    url: # Redmine URL
    token: # Redmine user token can be found in /my/account "API access key"
    # Map activity types
    activity = {
        'dsg': 8,  # Design
        'dev': 9,  # Development
        'qa': 10,  # QA
        'sa': 11,  # System Administration
        'ap': 12,  # Research, Analytics, Planning
        'etc': 13  # Other
        }

days: 7 # number of days to sync, 0 just for today
